@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */

:root {
  --font-family: "Roboto", sans-serif;
  --normal-fornt: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --placeholder-text: #acb8ec;
  --submit-button: #7a85ee;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.2s;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

.open {
  display: flex !important;
}

/* Nav section */

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul li {
  /* margin: 8px; */
  font-weight: var(--bold-font);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

/* Burger menu */

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
  cursor: pointer;
}

.burger span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: var(--primary-color);
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--primary-color);
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 48%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 48%;
  transform: rotate(45deg) translate(0, 50%);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  width: auto;
  height: auto;
  margin: auto;
  max-width: 68.75rem;
  margin-top: 0rem;
  flex-direction: row;
  gap: 2.5rem;
}

.hero-img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 35rem;
}

.bio {
  width: 20.5rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  /* margin-top: 16px; */
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.more-about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 2rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.project-pic1 {
  width: 75%;
  height: 70%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
  margin-top: 0.5rem;
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-details1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

/* Contacts */

.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7rem;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--placeholder-text);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--submit-button);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}

/* Scroll to top button */

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}

/* Footer */

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

@media screen and (max-width: 768px) {
  body.open-menu {
    overflow: hidden;
  }
  .burger {
    display: flex;
  }
  .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 80%;
    top: 86px;
    margin: auto;
    left: 10%;
    right: 10%;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: var(--bg-color);
    animation: burgerAnimation 0.4s;
    padding: 1.5rem 2rem;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.5s ease-in;
    border-radius: 5px;
  }

  .nav.active {
    display: flex;
  }

  .hero {
    gap: 2rem;
    flex-direction: column;
  }

  h1 {
    font-size: 1.2rem;
  }

  @keyframes burgerAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .bio {
    margin-top: 16px;
    width: 20.5rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }

  .projects-container {
    flex-direction: column;
  }

  /* .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    width: auto;
    height: auto;
    margin: auto;
  }

  .hero-img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 35rem;
  } */

  .skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 1.2rem;
  }

  .skill-header {
    margin-bottom: 1rem;
  }

  .skills-wrapper img {
    padding: 1.25rem;
  }

  .icon {
    width: 7.875rem;
    height: 7.25rem;
  }

  /* .icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  } */

  /* .projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
  }

  .project-pic {
    width: 65%;
    height: 60%;
  }

  .project-pic1 {
    width: 75%;
    height: 70%;
  } */

  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  /*
.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
  margin-top: 0.5rem;
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-details1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
} */

  /* .contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7rem;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
} */

  /* .contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
} */

  /* .socicon {
  width: 2rem;
  height: 2rem;
}  */

  /* Scroll to top button */

  /* .scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer; */
  /* display: none; */
  /* } */

  /* Footer */

  /* footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
} */

  /* .icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
} */

  /* .burger { */
  /* display: block; */
  /* font-size: 1.7rem;
} */

  /* .bio {
  margin-top: 16px;
  width: 20.5rem;
} */
  /*
.more-about p {
  text-align: justify;
}

.icon {
  width: 5.875rem;
  height: 5.25rem;
}

.projects-container {
  flex-direction: column;
}

.project-container {
  width: 20.875rem;
} */
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 1rem;
  }

  nav {
    padding: 1rem 0.7rem;
  }

  .hero-img {
    margin-top: 0rem;
    width: 15rem;
  }

  .burger {
    /* display: block; */
    font-size: 1.5rem;
  }

  .burger {
    width: 25px;
    height: 15px;
  }

  .bio {
    margin-top: 16px;
    width: 15rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}
